<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<!-- <link rel=“icon” type=“image/x-icon” href=“/image/call.ico”> -->
	<link rel="icon" href="/heart.ico" type="image/icon type">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css" />
</head>
<body>
	<%- include("common/header.ejs") %>
    <center><div class="about"><center>
        <h1>About us</h1>
        <p>
        
        SAVELIFE Hospital is a 675-bed multi-speciality state-of-the-art Hospital in India. It provides comprehensive Healthcare India services, and has acquired the status of a premier medical institution. It is the only hospital in the private sector that has maintained nearly 100% bed occupancy due to its reputation of providing the highest level of medical services to patients from Delhi and neighbouring states.
        
        The hospital was founded initially in 1921 at Lahore by Sir Ganga Ram (1851-1927), a civil engineer and leading philanthropist of his times. After the partition in 1947, the present hospital was established in New Delhi on a plot of land approximately11 acres. The foundation was laid in April 1951 by the then Prime Minister of India Shri Jawahar Lal Nehru and inaugurated by him on 13 April 1954.
        
        Sir Ganga Ram Hospital in India continues to maintain its charitable character in accordance with to the wishes of its founder. Funds generated from the hospital services are partially utilised for providing free health care to the poor and needy patients. All development activities of the hospital are financed from internal resources, with no financial assistance provided by the government or other external agencies.</p></center></div></center>
	
	<!-- footer part -->
		<%- include("common/footer.ejs") %>
	
	
</body>
</html>