<!DOCTYPE html>
<html>
<style>
body {
	background-image:url('login_background.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
}
button{
	background-color: rgb(42, 88, 214);
	border-radius: 15px 20px;
}
</style>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>DOCTOR LOGIN PAGE</title>
</head>
<body>
<form action="/doctor" method="POST"/>
<center><h1 style="font-size:300%;color:darkkhaki;"><u><b>HOSPITAL MANAGEMENT SYSTEM</b></u></h1>
<center><h3 style="font-size:200%;color:rgb(223, 209, 15);">doctor login</h3></center>
  <label for="username">username:</label>
<input type="text" name="username" id="username"/><br><br>
<center><button><input type="submit" value="submit"></input></button></td></tr></center></form>
<table>


<button >back</button></a></td></tr><br>
<br>
</table>
</body>
</html>
