<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>About</title>
	<!-- <link rel=“icon” type=“image/x-icon” href=“/image/call.ico”> -->
	<link rel="icon" href="/heart.ico" type="image/icon type">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css" />
    
</head>
<body>
	<!-- header part -->
	<%- include("common/header.ejs") %>
    
	<!-- content part -->
        <div class="history">
            <h3>History</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aspernatur obcaecati, suscipit itaque a veritatis reprehenderit minima cum, minus placeat ratione officia fuga saepe maxime distinctio eius ipsum autem aliquid eos?
            Repellat, odit amet. Cum, quod esse expedita maiores qui harum nam doloribus voluptas eveniet sed officiis temporibus sunt quo? Ipsum soluta tenetur eaque autem quibusdam eum ullam quas odio cupiditate.
            Vel aliquid in quidem repellendus officiis exercitationem quae repellat amet inventore quod, deserunt sunt ea! Debitis error delectus saepe cumque possimus a beatae nisi deleniti, earum ducimus voluptatem, ut totam.
            Adipisci tenetur ut ex recusandae cum nobis sit laboriosam dolorem totam ea molestiae ad voluptates quaerat illo, necessitatibus dolor ipsum delectus vero rem corrupti, repudiandae ducimus! Eos nesciunt ullam exercitationem?
            Voluptate accusantium quos repellat laudantium id? Placeat ipsum officia veritatis est adipisci expedita quas asperiores dolore eaque? Quibusdam facilis tenetur reprehenderit nam, officiis vero accusamus possimus inventore dolorum, labore dolor.
            Quae repudiandae, blanditiis doloribus illo deserunt cupiditate quo beatae cum nam, iure eius! Sunt, eos laudantium rerum nesciunt quis voluptatem velit animi aspernatur. Iure voluptatem est sint saepe laudantium iusto?
            Nesciunt vitae aperiam sequi quidem beatae. Dolorum voluptatem debitis aliquam ab illum quaerat, fugiat optio facere eligendi quia quisquam beatae, perspiciatis necessitatibus! Quibusdam earum id animi velit deserunt nostrum veritatis?
            Quod cum rem repudiandae ratione odit, consequatur amet vitae provident culpa atque rerum quae saepe laborum aperiam blanditiis, soluta quidem quis a nesciunt facere in. Voluptate unde maiores eos aliquam.
            Impedit animi incidunt repellat eius nobis quibusdam vitae neque, soluta optio fugiat velit maiores harum ipsam voluptatem debitis voluptatum labore ratione officiis doloribus. Ipsa dignissimos ipsam aliquid, obcaecati aut alias!</p>
        </div>
   <!-- footer part -->
        <%- include("common/footer.ejs") %>
</body>
</html>