



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Add hod</title>
	<!-- <link rel=“icon” type=“image/x-icon” href=“/image/call.ico”> -->
	<link rel="icon" href="/heart.ico" type="image/icon type">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/style.css" />
    
</head>
<body>
	<%- include("common/header.ejs") %>
    <%- include("common/nav.ejs") %>
    <center>
            <div class="container">
                <form action="/hod" method="POST">
                    <label for="hod_id">hod_id : </label><br>
                        <input id="hod_id" type="text" name="hod_id" placeholder="enter hod_id" class="form-control">
                        <br><br>
                        <label for="dept_id">dept_id : </label><br>
                        <input id="dept_id" type="text" name="dept_id" placeholder="enter departmemt_id" class="form-control"><br><br>
                       
                        <label for="start_date">start_date : </label><br>
                            <input id="start_date" type="date" name="start_date" class="form-control" ><br><br>
                        
                    <input type="submit" value="submit" class="button">
                    <input type="reset" value="clear" class="button">
                </form>
            </div>
        </center>
            <%- include("common/footer.ejs") %>
	
	
</body>
</html>