<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Appointment</title>
	<link rel="icon" href="/heart.ico" type="image/icon type">

	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="style.css" />
    <style>
        .admin
		{
			background-color:mediumorchid ;
			width: 20%;
			margin-top: 19%;
			padding: 2%;
			opacity: 0.5;
			background-color: beige;
			border:2px solid black;
			box-shadow: 3px 3px 3px maroon;

		}
		.admin:hover{
			opacity: 1.0;
		}
		body{
			margin: 0;
			padding: 0;
			background-image: url("/image/admin.jpg");
			background-repeat: no-repeat;
			background-size: cover;
		}
		input:focus{
			background-color: black;
			color:white;
			font-size: 80%;
			border-radius: 10px;
		}
    </style>
</head>
<body>
	<%- include("common/header.ejs") %>
<center>
	<div class="admin">
		<form action="/patientLogin" method="post"/>
<h3 style="font-size:200%;color:rgb(223, 209, 15);">Receptionist login</h3>
Username:<input type="text" name="username" id="username"/><br><br>
Password:<input type="password" name="password" id="password"/><br><br>
<center><input type="submit" value="submit" class="button"></input>
<input type="reset" value="clear" class="button"></center></form>
	</div></center>

<br>

    <%- include("common/footer.ejs") %>
	
	
</body>
</html>



