<!DOCTYPE html>
<html>
<style>
body {
	background-image:url('hms.jpg');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
}
button{
	background-color: cadetblue;
	border-radius: 22%;
}
</style>
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>reset admin login password</title>
</head>
<body>
<form action="updatepass.php" method="POST"/>
<center><h1 style="font-size:300%;"><u><b>RESET PASSWORD</b></u></h1>
<center><h3 style="font-size:200%;">Admin login</h3></center>
Username:<input type="text" name="Username"/><br><br>
Password:<input type="password" name="Password"/><br></center><br>
<center><button><input type="submit" value="submit"></input></button></td></tr></center><br>
<center><form action="adminlogin.html"><button >back</button></a></td></tr></center>
</body>
</html>
