


<header>
	<div class="heading">
		<div id="logo">
			<CENTER>
				<img src="/heart.ico" alt="save life logo" width="55px" height="55px" style="padding-top: 5%;">
				<h2 id="name">SAVELIFE</h2>
			</CENTER>
			
		</div>
		<div id="navbar">
			<div class="hosp_details">
				<div><h2><center>SAVELIFE HOSPITAL NEWDELHI,INDIA </center> </h2></div>
				<marquee behavior="alternate" direction="left">24 hrs helpline <span><img src="/image/call.ico" alt="call icon" width="15px" height="15px"></span> 011-24354657</marquee>
			
			</div>
			<div class="nav-item">
				<a href="/index">Home</a>
				<a href="/about">About</a>
				<a href="/history">History</a>
				<div class="dropdown">
					<button class="dropbtn">Details</button>
					<div class="dropdown-content">
					  <a href="/employee_details">Employee</a>
					  <a href="/doctor_details">Doctors</a>
					  <a href="/department_details">Department</a>
					  <a href="/ward_details">Ward</a>
					  <a href="/hod_details">HOD</a>
					</div>
				  </div>
				<a href="/patientLogin">Appointment</a>
				<a href="/admin">Admin</a>

			</div>
		</div>
	</div>
</header>